<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EmailFrom" value="tanl@shinetechchina.com" />
    <add key="EmailFromPassword" value="" />
    <add key="EmailTo" value="tanl@shinetechchina.com" />
    <add key="CcTo" value="" />
    <add key="EmailHost" value="smtp.163.com" />
    <add key="EmailPort" value="25" />
    <add key="EnableSsl" value="false" />

    <add key="ApplicationConfigFilePath" value="ElementsConfig" />
    <add key="TestPlanConfigFilePath" value="TestPlan" />
    <add key="TestCaseConfigFilePath" value="TestCases" />
    <add key="WebDriversFilePath" value="Drivers" />
    <add key="TempFilePath" value="Temp" />
    <add key="RestartApplicationWhenError" value="true" />


    <add key="LogFilePath" value="c:\Logs" />
    <add key="NewVersionDetectHours" value="13,14" />
    <add key="ScreenShotQuality" value="100" />
    <add key="OperationDelay" value="1000" />
    <add key="ContinueWhenError" value="true" />
    
    <!--Android Settings-->
    <add key="AndroidDeviceName" value="emulator-5554" />
    <add key="AndroidPlatformVersion" value="6.0" />
    <add key="AndroidAppPackage" value="com.anrocJMS" />
    <add key="AndroidAppActivity" value=".MainActivity" />
    <add key="AndroidAppWaitActivity" value="" />
    <add key="SourceAPKFolder" value="D:\APP\"/>
    <add key="APKFileName" value=""/>
    <add key="LocalAPKFolder" value="D:\JMS\App\"/>
  </appSettings>
</configuration>